<div class="container-fluid mt-4 ml-1">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="container">
   
      <div *ngIf="question.show !== false">
        <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
      </div>
    </div>

    <div class="form-row">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>